@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{

/* .select:focus ~ label,
.select:not([value='']):valid ~ label { @apply top-8 translate-x-0 rotate-0 skew-x-0 skew-y-0 scale-x-75 scale-y-75 -translate-y-6
  
} */

input:focus ~ label,
input:not(:placeholder-shown) ~ label,
textarea:focus ~ label,
textarea:not(:placeholder-shown) ~ label,
select:focus ~ label,
select:not([value=""]):valid ~ label {
  @apply transform;
  @apply scale-100;
  @apply -translate-y-6;
}

input:focus ~ label,
select:focus ~ label {
  @apply text-black;
  @apply left-0;
  
}

}



